@import url('https://fonts.googleapis.com/css?family=Scheherazade');

$big-arabic-font-size: 40px; 
$mid-arabic-font-size: 30px; 
$arabic-font-style: 'Scheherazade'; 

.article {
    .examples {
        .example, .translation {
            display: inline-block; 
        }
    }

    .image {
        text-align: center;
        img {
            max-height: 300px;
            margin: 0 auto;
        }

    }
/*    .panel-title.words {
        direction: rtl;
    }*/

    .words .note.middleHaracat {
        //padding-right: 15px;
        padding-left: 5px;
    }
    .article-correction-menu{
        display: none;
    }
    .article-menu {
        display: inline-block;
    }
    .approve-buttons {
        display: inline-block;
        opacity: 0.99;
        float: right;
        margin-top: -5px;
        margin-right: -10px;
    } 
    .note, .word {
        display: inline-block;
    }

/*    .glyphicon-edit, .glyphicon-link {
        font-size: 150%;
    }*/
}

.article-page {
    .correction {
        .correction-approve {
            text-align: right;
            margin-bottom: 20px;
            margin-top: -58px; 
            opacity: 0.99;
            margin-right: 4px;
        }
        .panel {
            opacity: 0.6;
            //margin-bottom: 0px;
        }

        .article-menu {
            display: none;
        }
        .article-correction-menu{
            display: inline-block;
    }
    }    
}

.search-page {

    .articles-list {
        margin-top: 3px;
    }

    .search-form { 
            .speachPart {
                span {
                    visibility: hidden;
                }
            }

            .middleHarakat {
                input {
                    width: 70px;
                }
            }

            /*margin-left: 16px;*/

            button {
                padding: 18.5px; 
            }

            input {
                direction: rtl;
                padding: 0px 15px;
            }
    }    
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #222;
}

// #HELPERS 

.-arabic-text-mid {
        font-family: $arabic-font-style; 
        font-size: $mid-arabic-font-size; 
        direction: rtl;
}

.-arabic-text-big {
        font-family: $arabic-font-style; 
        font-size: $big-arabic-font-size; 
        direction: rtl;
}

.-width-100 {
    width: 100%!important; 
}

.-opacity-06 {
    opacity: 0.6;
}

.-page {
    margin-top: 66px;
}

// /HELPERS

.search-page, .article-page, .article-form, .users-list, .about-page, .events-page {
    margin-top: 66px;
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-nav {
    #login-dropdown-list {
        top: -150px;
        @media (min-width: 768px) {
                    left: -140px;
                    top: -1px;
                }         
    }
    
}

.form-control{
    height: auto;
}

.article-form {
    
    input[name$='word'], input[name$='example'] {
        font-family: $arabic-font-style; 
        font-size: $mid-arabic-font-size; 
        direction: rtl;
    }

    .form-control {
        &.word, &.example {
            padding: 0px 12px;
        }
    }

    .translations>.panel>.list-group>.list-group-item.autoform-array-item>div>.autoform-array-item-body>.panel.panel-default>.panel-body>.form-group:nth-child(1){
        width: 100%;
    }


    .form-group {
        width: 49%; 
        @media (max-width: 768px) {
            width: 100%;
        }
        display: inline-block;
        margin-bottom: 0px;
    }

    .autoform-array-item {
        .autoform-array-item-body {
            .panel-heading {
                display: none;
            }
            .panel-body {
                padding: 0px;
            }
            .panel-default {
                border: none; 
            }
            .panel {
                margin-bottom: 0px;
                box-shadow: none;                
            }
        }
    }
    .list-group-item, {
        border: none;
        padding: 0px 15px; 
    }
    .list-group {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}


.about-page {
    .page-header{
        margin-top:0px;
    }
    .logo-image {
        img {
            margin: 50px auto;
        }
    }
}

.event {
    .article {
        direction: rtl;
        display: inline-block;
    }
}