<template name="ArticleMenu">
    <div class="article-menu">
        {{#if isAdmin}}
            <a class="delete" title="delete" href="#">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        {{/if}}
        <a class="edit" href="/article/edit/{{_id}}" title="edit">
            <span class="glyphicon glyphicon-edit"></span>
        </a>

        <small>
            {{#if showCorrectionsCount}}            
                <a class="edit" href="/article/{{_id}}" title="ожидают одобрения админа">
                    <span class="glyphicon glyphicon-check"></span>
                    Правки: {{correctionsCount}}
                </a>
            {{else}}
                <a class="edit" href="/article/{{_id}}" title="ссылка на статью">
                    <span class="glyphicon glyphicon-link"></span>
                </a>
            {{/if}}
        </small>
        {{#if deleted}}
            <span class="glyphicon glyphicon-trash" title="статья удалена"></span>
        {{/if}}
        <small>
            <a href="/users/{{createdByUserId}}" title="создал"> <span class="glyphicon glyphicon-user"></span> 
                {{createdByUserName}}
            </a>
        </small>
    </div>
</template>