<template name="ArticlesList">
    <div class="articles-list">
        {{#each articles}}
            <section class="row">
                <div class="col-sm-6">
                        {{> ArticleSingle}}
                </div>
                <div class="col-sm-6">
                    {{#if showEditForm _id}}
                        {{> ArticleForm }}
                    {{else}}
                        <div class="correction">
                            {{#each corrections }}
                                {{#if showEditForm _id}}
                                    {{> ArticleForm }}
                                {{else}}
                                    {{> ArticleSingle }}
                                {{/if}}
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
            </section>
        {{/each}}
    </div>
</template>