<template name="ArticlesList">
  <div class="articles-list">
    {{#each articles}}
    <section class="row">
      <div class="col-sm-4 -sticky">
        <div class="main-article">{{> ArticleSingle}}</div>
      </div>
      <div class="col-sm-8">
        {{#if showEditForm _id}} {{> ArticleForm }} {{else}} {{#each corrections }}
        <div class="correction">
          {{#if showEditForm _id}} {{> ArticleForm }} {{else}} {{> ArticleSingle }} {{/if}}
        </div>
        {{/each}} {{/if}}
      </div>
    </section>
    {{/each}}
  </div>
</template>
