<template name="ImageAdd">
    <div class="images images-form-{{elementId}}">
        {{#each images}}
        <div class="imageEdit editField" id="{{imageId}}">
            <img class="form-control example" width="200" placeholder="preview" src="{{image}}">
            <input type="text" placeholder="ссылка на картинку" value="{{image}}" name="{{imageId}}.image" class="form-control translation">
            <i class="glyphicon glyphicon-remove remove-image -remove" id="remove.{{imageId}}"></i>
        </div>
        {{/each}}
        <button class="btn btn-default btn-xs add-image translation-actions" id="addImageFor.{{elementId}}">
            <i class="glyphicon glyphicon-plus"></i>Картинка
        </button>
    </div>
</template>