<template name="SpeachParts">
        <select firstoption="Часть речи" name="speachPart" class="form-control speachPart">
                
                
                <option value="">Часть речи</option>
                
                
                
                <optgroup label="имя">
                  
                  <option value="Существительное">Существительное</option>
                  
                  <option value="Прилагательное">Прилагательное</option>
                  
                  <option value="Наречие">Наречие</option>
                  
                </optgroup>
                
                
                
                <optgroup label="глагол">
                  
                  <option value="глагол, I порода">порода I</option>
                  
                  <option value="глагол, II порода">порода II</option>
                  
                  <option value="глагол, III порода">порода III</option>
                  
                  <option value="глагол, IV порода">порода IV</option>
                  
                  <option value="глагол, V порода">порода V</option>
                  
                  <option value="глагол, VI порода">порода VI</option>
                  
                  <option value="глагол, VII порода">порода VII</option>
                  
                  <option value="глагол, VIII порода">порода VIII</option>
                  
                  <option value="глагол, IX порода">порода IX</option>
                  
                  <option value="глагол, X порода">порода X</option>
                  
                </optgroup>
                
                
                
                <optgroup label="частица">
                  
                  <option value="частица родительного падежа">частица родительного падежа</option>
                  
                  <option value="частица винительного подежа">частица винительного падежа</option>
                  
                </optgroup>
                
                
              </select>
</template>