<template name="SubjectTags">
        Корень:
        {{#with root.article}}
            {{>Word}}
        {{/with}}
        <div class="rootTag -dropdown">
            <input type="text" id="rootInput" class="form-control word -arabic-text-mid">
            {{#if isEditMode}}
            <ul class="rootTagsList -dropdown-content">
                {{#each roots}}
                <li data-id="{{_id}}">
                    {{> Word}}
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
        <a class="link" href="/article/{{rootId}}" title="ссылка на статью">
            <span class="glyphicon glyphicon-link"></span>
        </a>
    </template>