<template name="TagInputAutocomplete">
  <div class="-dropdown-container">
    <input
      id="tagInput"
      type="text"
      class="form-control tagInput"
      placeholder="+ {{callToAction}}"
    />
    {{#if isEditMode}}
    <ul class="tagsList -dropdown-content">
      {{#each tagsAutocomplete}}
      <li class="existingTag" data-id="{{_id}}">{{ title }}</li>
      {{else}}
      {{#if addButton}}
      <li class="createTag">Создать тэг</li>
      {{/if}}
      {{/each}}
    </ul>
    {{/if}}
  </div>
</template>
