<template name="TagsSynonyms">
    <div class="synonyms">
        {{> SelectedTags  removeButton=true tags=tags label="Синонимы"}}
    
    <div class="rootTag -dropdown">
        <input type="text" class="form-control tagInput">
        {{#if isEditMode}}
        <ul class="tagsList -dropdown-content">
            {{#each tagsAutocomplete}}
            <li class="existingTag" data-id="{{_id}}">
                {{title}}
            </li>
<!--             {{else}}
            <li class="createTag">Создать тэг</li> -->
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>
</template>