<template name="Tag">
    <div class="selected-tags">
        Tags:
        {{#each tags}}
            <div class="tag">
                <span class="glyphicon glyphicon-tag"></span>
                {{title}}
                <i class="glyphicon glyphicon-remove -remove" data-tagid="{{@index}}"></i>
            </div>
        {{/each}}
    </div>
    <div class="rootTag -dropdown">
        <input type="text" id="tagInput" class="form-control">
        {{#if isEditMode}}
        <ul class="tagsList -dropdown-content">
            {{#each tagsAutocomplete}}
            <li data-id="{{_id}}">
                {{title}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</template>