<template name="Tag">
    {{> SelectedTags  removeButton=true tags=tags}}
    <div class="rootTag -dropdown">
        <input type="text" id="tagInput" class="form-control">
        {{#if isEditMode}}
        <ul class="tagsList -dropdown-content">
            {{#each tagsAutocomplete}}
            <li class="existingTag" data-id="{{_id}}">
                {{title}}
            </li>
            {{else}}
            <li id="createTag">Создать тэг</li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</template>