<template name="TagsSelectedSubjects">
    {{#if tags}}
        <div class="selected-tags">
            {{#each tags}}
                <div class="tag">
                    <a href="/subject/{{_id}}">
                        <span class="glyphicon glyphicon-tag"></span>
                        {{title}}
                    </a>
                    {{#if ../removeButton}}
                    <i class="glyphicon glyphicon-remove -remove" data-tagid="{{@index}}"></i>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    {{/if}}
</template>