<template name="SelectedTags">
    {{#if tags}}
        <div class="selected-tags">
            Tags:
            {{#each tags}}
            <a href="/subject/{{_id}}">
                <div class="tag">
                    <span class="glyphicon glyphicon-tag"></span>
                    {{title}}
                    {{#if ../removeButton}}
                    <i class="glyphicon glyphicon-remove -remove" data-tagid="{{@index}}"></i>
                    {{/if}}
                </div>
            </a>
            {{/each}}
        </div>
    {{/if}}
</template>