<template name="About">
    <div class="container about-page">
        <section class="row">
            <div class="col-sm-7">
                <h2 class="page-header danger">О проекте</h2>
{{#markdown}}
Это живой арабско-русский словарь. Он постоянно улучшается, дополняется, исправляется - и сама база слов и программные алгоритмы поиска и взаимодействия с переводчиками. 

Любой зарегистрированный пользователь может добавлять и исправлять словарные статьи. Администраторы контролируют процесс, одобряют или отклоняют правки.

Многие возможности словаря были реализованы по советам пользователей. Присылайте ваши предложения через [эту форму.](https://bitbucket.org/aparus/meteor-arabic-dictionary/issues/new) Кто не знает английского: Title - заголовок, Description - описание, Kind - тип вашего предложения. Bag - ошибка, Enhancement - улучшение, Proposal - предложение, Task - задача.

### Планируемые фичи: 
- добавление тем (тэгов) к словарным статьям
- указание корня в каждой словарной статье - взаимные ссылки от одной статьи к другой
- система ролей и модерации на основе рейтинга (голосования)
- комментарии к статьям 
- изменение порядка вариантов перевода и примеров использования (drug&drop)
- голосование за вариант перевода и пример использования 
- формирование статистики 
  - самых частотных слов (по поиску), 
  - самых частоиспользуемых переводов (по голосованию)
  - голосование при выдаче поиска: "это слово подошло", "этот перевод подошел"
- сохрание в избранное: статей, переводов, примеров. И их группировка по проектам.
- добавление картинок и аудио(?) к статьям 

### Морфология и расширенный поиск
- Режим созвучных звуков (когда сходные буквы приравниваются [زذظ], [س ص ث], [ض د] и т.п.) - для перевода на слух;
- Разделение слитно написанных слов на отдельные слова, перевод ключевого и вывод объяснения разбора и вспомогательных слов. بالفلاحين = ب + ال + فلاح +ـين
- Каждую разновидность слов снабдить комментарием (глагол 1й породы, 2й породы, ..., слабый глагол). Чтобы на странице слова можно было получить информацию о том, как оно меняется и чем оно отличается от других. 

### Редакторам 
1. разделяйте переводы и примеры в отдельные, соответствующие поля
2. в примерах обращайте внимание на тильду в начале и конце строки, при переносе примера в отдельное поле, тильда занимает противоположное место (если была в конце - встаёт вначало и наоборот) 
3. огласовки над лигатурой Лям-Алиф зачастую стоят неправильно 

### Валидация 
1) ташдид идет после буквы перед огласовкой. Ташдид не бывает после огласовки

### Баги и проблемы
- автор правки фиксируется как изменивший статью. админ фиксируется как изменивший статью после одобрения. А должно быть так: до принятия правки никто не обозначается изменившим, а после принятия - тот, кто предложил правку.
- переделать форму на более удобном и гибком инструменте нежели Autoform (Vue)
{{/markdown}}
            </div>
            <div class="col-sm-5">
                <div class="panel panel-info events">
                    <div class="panel-heading">Ключевые возможности и цели программы</div>
                    <div class="panel-body">
                        {{> YoutubePromo videoId="Rf4NNw0tBh0"}}
                    </div>
                </div>
                <div class="panel panel-info events">
                    <div class="panel-heading">Модерация и лента событий</div>
                    <div class="panel-body">
                        {{> YoutubePromo videoId="WUSJ97j1T2Y"}}
                    </div>
                </div>
                <div class="panel panel-info events">
                    <div class="panel-heading">Автоматическая правка статей</div>
                    <div class="panel-body">
                        {{> YoutubePromo videoId="Q1jT1pv4RRA"}}
                    </div>
                </div>                
                <div class="logo-image">
                    <img src="/img/logo.svg" class="img-responsive" alt="Iqra - logo">
                </div>
            </div>
        </section>
    </div>
</template>