<template name="ArticleSingle">

<div class="panel panel-default article {{#if notPublished}}-opacity-06{{/if}}">
  <div class="panel-heading">
        <div class="panel-title words">
            <!-- Глагол 1й породы имеет дополнительную информацию для вывода, поэтому 
            особый шаблон его вывода, например, среднекорневую глассную и масдары -->
            {{#if middleHarakat}}
                <div class="note">{{words.[0].note}}</div>
                <div class="word -arabic-text-big" title="прошедшее время, 3-е лицо, ед.ч., м.р">
                    {{words.[0].word}} 
                </div>
                <div class="note middleHaracat" title="среднекорневая гласная настоящего времени">
                    {{middleHarakat}} 
                </div>
                <div class="note">{{words.[1].note}}</div>
                <div class="word -arabic-text-big" title="масдар - отглагольное действие">
                    {{words.[1].word}}
                </div>
                <div class="note">{{words.[2].note}}</div>
                <div class="word -arabic-text-big">
                    {{words.[2].word}}
                </div>
                <div class="note">{{words.[3].note}}</div>
                <div class="word -arabic-text-big">
                    {{words.[3].word}}
                </div>                                 
            {{else}}
                {{#each words}}
                    <div class="note">{{note}} </div>
                    <div class="word -arabic-text-big">{{word}}</div>
                {{/each}}
            {{/if}}
            <div class="label label-info">{{speachPart}}</div>
        </div>
  </div>
  <div class="panel-body">
        <ol class="translations">
            {{#each translations}}
                <li class="translation">
                    {{translation}}
                    {{#if examplesCount examples}}
                        <a href="#examples-{{@index}}" data-toggle="collapse" title="примеры">
                            <small><i class="glyphicon glyphicon-asterisk"></i> 
                            {{examplesCount examples}}</small>
                        </a>
                        <ul id="examples-{{@index}}" class="examples collapse">
                            {{#each examples}}
                                <li>
                                    <div class="example -arabic-text-mid">{{example}}</div>
                                    <div class="translation">{{translation}}</div>
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </li>
            {{/each}}
        </ol>
        {{#if image.link}}
            <div class="image">
                <img class="img-responsive img-rounded" src="{{image.link}}" alt="ArticleImage">
            </div>
        {{/if}}
  </div>
  <div class="panel-footer">
        {{> ArticleMenu }}
        {{> ArticleCorrectionMenu}}
        {{#if showApproveButtons}}
            {{> ApproveButtons}}
        {{/if}}
  </div>
</div>
</template>

<!--<script>
    const atrtcl = { 
        "_id" : "se4AcxaRqAzeb2Mdy", 
        "words" : [ 
            { "note" : "note1", "word" : "word1" }, 
            { "note" : "note2", "word" : "word2" } 
        ], 
        "translations" : [ 
            { "translation" : "translation1", 
                "examples" : [ 
                    { "example" : "exmpl1", "translation" : "exmpl1-tr1" }, 
                    { "example" : "exmpl2", "translation" : "exmpl2-tr1" } 
                ] 
            }, 
            { "translation" : "translation2", 
                "examples" : [ 
                    { "example" : "exmpl1", "translation" : "exmpl1-tr2" }, 
                    { "example" : "exmpl2", "translation" : "exmpl2-tr2" } 
                ] 
            } 
        ] 
    }; 
</script>-->