<template name="ArticleUpdate">
    <div class="container">
        {{#if Template.subscriptionsReady}}
            {{#autoForm 
                collection=articles 
                class="article-form" 
                id="articleForm" 
                type="method-update"
                meteormethod=mode.method
                doc=mode.doc                
            }}
                {{#if currentUser}}
                {{else}}
                    {{#if isAdding}}
                        {{> AlertMessageAddArticleAnonymous}}
                    {{/if}}
                    {{#if isEditing}}
                        {{> AlertMessageEditArticleAnonymous}}
                    {{/if}}                    
                {{/if}}

                {{> afQuickField name='speachPart'}}
                {{#if poroda1}}
                    {{> afQuickField name='middleHarakat'}}
                {{/if}}
                {{> afQuickField name='words'}}
                <div class="translations">
                    {{> afQuickField name='translations'}}
                </div>
                <!--{{> afQuickField name="picture"}}-->
                <br />
                <button class="btn btn-primary" type="submit">Сохранить</button>
            {{/autoForm}}
        {{else}}
            <p>Loading...</p>
        {{/if}}
    </div>
</template>