<template name="ArticleForm">
  <form
    id="articleForm-{{_id}}"
    class="panel panel-default article {{#if notPublished}}-opacity-06{{/if}}"
  >
    <div class="panel-heading">
      <div class="panel-title words">
        <div class="label label-info speach-part">{{ speachPart }}</div>
        <br />
        <!--
          Глагол 1й породы имеет дополнительную информацию для вывода, поэтому
          особый шаблон его вывода, например, среднекорневую глассную и масдары
        -->
        {{#each article.words}}
        <div class="wordEdit editField" id="{{wordId}}">
          <i class="glyphicon glyphicon-remove remove-word -remove" id="remove.{{wordId}}"></i>
          <input
            type="text"
            placeholder="прим."
            value="{{note}}"
            name="{{wordId}}.note"
            class="form-control note"
          />
          <input
            type="text"
            placeholder="слово"
            value="{{word}}"
            name="{{wordId}}.word"
            class="form-control word -arabic-text-mid"
          />
        </div>
        {{#if showMiddleHarakat ../speachPart @index}}
        <div class="note middleHarakat" title="среднекорневая гласная настоящего времени">
          <input
            type="text"
            placeholder="скгнв"
            value="{{../middleHarakat}}"
            name="middleHarakat"
            class="form-control note"
          />
        </div>
        {{/if}} {{/each}}
        <div class="add-word"><i class="glyphicon glyphicon-plus"></i></div>
      </div>
    </div>
    <div class="panel-body">
      <div class="translations">
        {{#each tr in article.translations}}
        <div class="translation" id="translation-{{tr.id}}">
          {{> TranslationItem templateInstance=templateInstance item=tr}}

          <div class="examples" id="examples-for-{{tr.id}}">
            {{#each ex in tr.examples}}
            <div class="example" id="example-{{ex.id}}">
              {{> TranslationItem templateInstance=templateInstance item=ex isExample=true}}
            </div>
            {{/each}}
            <button
              class="btn btn-default btn-xs add-example translation-actions"
              id="addExampleFor.{{tr.id}}"
            >
              <i class="glyphicon glyphicon-plus"></i>Пример
            </button>
          </div>
        </div>
        {{/each}}
        <button class="btn btn-default btn-sm add-translation">
          <i class="glyphicon glyphicon-plus"></i>Перевод
        </button>
      </div>

      {{> TagsRoots}}
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary article-save">Сохранить</button>
      <button class="btn btn-default article-edit-cancel">Отмена</button>
    </div>
  </form>
</template>

<template name="ImagesEdit">
  <div class="row">
    {{#each images}}
    <div class="col-sm-4 imageColumn">{{> ImageEdit}}</div>
    {{/each}}
  </div>

  <button
    class="btn btn-default btn-xs add-image translation-actions"
    id="addImageFor.{{elementId}}"
  >
    <i class="glyphicon glyphicon-plus"></i>Картинка
  </button>
</template>

<template name="ImageEdit">
  <div class="thumbnail image editField" id="{{imageId}}">
    <i class="glyphicon glyphicon-remove remove-image -remove" id="remove.{{imageId}}"></i>
    <img class="form-control" placeholder="preview" src="{{image}}" />
    <input
      type="text"
      placeholder="ссылка на картинку"
      value="{{image}}"
      name="{{imageId}}.image"
      class="form-control imageLink"
    />
  </div>
</template>

<!-- TranslationItem means both: translation and example, which are similar -->
<template name="TranslationItem">
  <div class="editField" id="{{item.id}}">
    {{#if isExample }}
    <input
      type="text"
      placeholder="пример"
      value="{{item.example}}"
      name="{{item.id}}.example"
      class="form-control example -arabic-text-mid"
    />
    {{/if}}
    <input
      type="text"
      name="{{item.id}}.translation"
      value="{{item.translation}}"
      class="form-control"
      placeholder="перевод"
    />
    <i class="glyphicon glyphicon-remove remove-translation -remove" id="remove.{{item.id}}"></i>
  </div>

  <div class="subjects tags" id="subjectsFor.{{item.id}}">
    {{> TagsSubjects parentTemplateInstance=templateInstance elementName=item.id}}
  </div>

  <div class="images imagesFor-{{elementId}}">
    {{> ImagesEdit images=item.images elementId=item.id}}
  </div>
</template>

<!--
  <template name="ExampleItem">
    <div class="exampleEdit editField" id="{{ex.id}}">
      <input
        type="text"
        placeholder="пример"
        value="{{ex.example}}"
        name="{{ex.id}}.example"
        class="form-control example -arabic-text-mid"
      />
      <input
        type="text"
        placeholder="перевод примера"
        value="{{ex.translation}}"
        name="{{ex.id}}.translation"
        class="form-control translation"
      />
      <i class="glyphicon glyphicon-remove remove-example -remove" id="remove.{{ex.id}}"></i>

      {{> TagsSubjects parentTemplateInstance=parentTemplateInstance
                                elementName=ex.id}}

      {{> ImagesEdit images=ex.images elementId=ex.id}}
    </div>
  </template>
-->

<!--
  <script>
          const atrtcl = {
              "_id" : "se4AcxaRqAzeb2Mdy",
              "words" : [
                  { "note" : "note1", "word" : "word1" },
                  { "note" : "note2", "word" : "word2" }
              ],
              "translations" : [
                  { "translation" : "translation1",
                      "examples" : [
                          { "example" : "exmpl1", "translation" : "exmpl1-tr1" },
                          { "example" : "exmpl2", "translation" : "exmpl2-tr1" }
                      ]
                  },
                  { "translation" : "translation2",
                      "examples" : [
                          { "example" : "exmpl1", "translation" : "exmpl1-tr2" },
                          { "example" : "exmpl2", "translation" : "exmpl2-tr2" }
                      ]
                  }
              ]
          };
      </script>
-->
