<template name="ArticlesPage">
    <div class="container articles-page -page">
        <h2>Articles page</h2>
        <section class="row">
            <div class="col-sm-6">
                {{> AlertMessageArticlesPage}}
                <div class="articles-list">
                    {{#if Template.subscriptionsReady}}
                        {{#each articles}}
                            {{> ArticleSingle}}
                        {{/each}}
                    {{else}}
                        <p>Loading...</p>
                    {{/if}}
                </div>
            </div>
            <div class="col-sm-6">
                {{> EventsBlock}}
            </div>
        </section>
    </div>
</template>