<template name="Instruction">
  <div class="container -page">
    <div style="text-align: center;">
      <h2>Инструкции по редактуре словаря</h2>
      <div style="height: 25px;"></div>
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/goiI8Tildjw" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div style="height: 50px;"></div>
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xtXRzssbgwg" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <h2>То же что на видео, но текстом: </h2>
      <iframe style="border: none" height="525px" width="98%"
        src="https://docs.google.com/document/d/e/2PACX-1vT2Bszm3iI3_5wizV9tYV2ehVLKq6lLKFEPMd7Eg9UsTBbOXPkd29RXlrMWULLjOPpoViq7npYqnIPi/pub?embedded=true">
      </iframe>

    </div>

  </div>
</template>