<template name="Search">
    <div class="container search-page">
        <section class="row">
            <div class="col-sm-6">
                {{> AlertMessage}}
                {{> SearchForm}}
            </div>
        </section>

        <div class="atricles-list">
            {{#if Template.subscriptionsReady}}
                    <section>                        
                        <div class="col-sm-6">
                            {{#each result.articles}}
                                        {{> ArticleSingle}}
                            {{/each}}
                        </div>
                    </section>

            {{else}}
                <p>Loading...</p>
            {{/if}}
        </div>
        
    </div>
</template>