<template name="Search">
    <div class="container search-page">
        <section class="row">
            <div class="col-sm-6">
                {{> SearchForm resultCount=result.count searchFor=searchFor}}
                <div class="articles-list">
                    {{#if Template.subscriptionsReady}}
                                    {{#each result.articles}}
                                                {{> ArticleSingle}}
                                    {{/each}}
                    {{else}}
                        <p>Loading...</p>
                    {{/if}}
                </div>
            </div>
            <div class="col-sm-6">
                {{> EventsBlock}}
            </div>
        </section>
        
        
    </div>
</template>